<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Badgit.io.error</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta content="badgit.io" name="description" />
<meta content="vinoth" name="author" />
<link href="/public/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="/public/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/public/css/error.css" rel="stylesheet" type="text/css" />
<link href="/public/css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Sorry, an error has occurred, Please try again!
                </div>
                <div class="error-actions">
                    <a href="home.html" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Take Me Home </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

