<!DOCTYPE html>
<html>
<head>
  <title>badgeit</title>
  <meta charset="utf-8">
  <meta name="description" content="Badgeit io">
  <meta name="author" content="argonlaser">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/views/stylesheets/home.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

  <div class="box">
    <div class="container-4">
      <input type="search" id="repoUrl" placeholder="Search..." onkeypress="handleKeypress(event)"/>
      <button class="icon" onclick="openResultsPage()"><i class="fa fa-search"></i></button>
    </div>
  </div>

    <script>
        function handleKeypress(event) {
          if (event.which === 13 || event.keyCode === 13) {
            openResultsPage();
          }
        }
        function openResultsPage() {
            var repoUrl = document.getElementById('repoUrl').value;

            if (!repoUrl) {
                // Change the border of textbox to red
                document.getElementById('repoUrl').className = document.getElementById('repoUrl').className + " error";  // this adds the error class
                return
            }

            parent.location = '/w/' + repoUrl;
        }
    </script>

    <!-- Google Analytics Start -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-102659539-1', 'auto');
    ga('send', 'pageview');

  </script>
  <!-- Google Analytics End -->
</body>
</html>
