<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>badgeit</title>
    <link rel="stylesheet" type="text/css" href="home.css">.
</head>
<body>
  <div class = 'main'>
    <input type="text" id="repoUrl" />

    <button onclick="openResultsPage()">Get Badges</button>
</div>
    <script>
        function openResultsPage() {
            var repoUrl = document.getElementById('repoUrl').value;

            if (!repoUrl) {
                // Change the border of textbox to red
                document.getElementById('repoUrl').className = document.getElementById('repoUrl').className + " error";  // this adds the error class
                return
            }

            parent.location = '/' + repoUrl;
        }
    </script>
</body>
</html>
