<!DOCTYPE html>
<html>
<head>
  <title>badgeit</title>
  <meta charset="utf-8">
  <meta name="description" content="Badgeit io">
  <meta name="author" content="argonlaser">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <link rel="stylesheet" href="/views/home.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="box">
    <div class="container-4">
      <input type="search" id="repoUrl" placeholder="Search..."/>
      <button class="icon" onclick="openResultsPage()"><i class="fa fa-search"></i></button>
    </div>
  </div>

    <script>
        function openResultsPage() {
            var repoUrl = document.getElementById('repoUrl').value;

            if (!repoUrl) {
                // Change the border of textbox to red
                document.getElementById('repoUrl').className = document.getElementById('repoUrl').className + " error";  // this adds the error class
                return
            }

            parent.location = '/w/' + repoUrl;
        }
    </script>
</body>
</html>
